*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(134, 216, 222, 0.697);
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgba(247, 242, 242, 0.018);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px rgb(252, 252, 251),
                inset 5px 5px 12px rgba(0, 0, 0, 0.83);
    display: grid;
    grid-template-columns: repeat(4,66px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgb(241, 244, 247);
    box-shadow: inset -5px -5px 12px white,
                inset 5px 5px 12px rgb(0, 10, 15);
    border: none;            
    border-radius: 30px;
    color: rgb(27, 26, 26);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: rgb(239, 240, 241);
    box-shadow:  -5px -5px 12px rgb(245, 246, 248),
                 5px 5px 12px black;
    border: none;            
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 42px;
    /* position: relative;
    left:auto */
    background-color: rgb(243, 245, 246);
    box-shadow: -5px -5px 12px rgb(249, 246, 246),
                    5px 5px 12px black;;
}